/*---Font FigTree---*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/*--Reset CSS--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{  
  font-size: 62.5%;
--Yellow: hsl(47, 88%, 63%);
--White: hsl(0, 0%, 100%);
--Gray500: hsl(0, 0%, 42%);
--Gray950: hsl(0, 0%, 7%);
--Weight500: 500;
--Weight800: 800;
}

body{
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}

/*------Mobile-------*/
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Yellow);
   
}

.card{
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    background-color: var(--White);
    max-width: 32.7rem;
    border-radius: 2rem;
    border: 1px solid var(--Gray950);
    gap: 1.2rem;
    box-shadow: 1.5rem 1.5rem 1.5rem var(--Gray950);
}


.card__img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.2rem;
    border-radius: 1rem;
}

.card__status{
    font-size: 1.2rem;
    background-color: var(--Yellow);
    padding: 0.4rem 1.2rem;
    text-align: center;
    line-height: 150%;
    width: fit-content; 
    color: var(--Gray950);
    font-weight: var(--Weight800);
}

.card__date{
    font-size: 1.2rem;
    font-weight: var(--Weight500);
    line-height: 150%;
     color: var(--Gray950);

}

.card__title{
    font-size: 2rem;
    font-weight: 900;
    line-height: 150%;
}

.card__title:hover{
    color: var(--Yellow);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card__text{
    font-size: 1.4rem;
    font-weight: var(--Weight500);
    line-height: 150%;
    color: var(--Gray500);
}

.card__profile{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.2rem;
}

.card__profile__img{
    width: 3.2rem;
    height: 3.2rem;
}
.card__profile__text{
    font-size: 1.4rem;
    font-weight: var(--Weight800);
    line-height: 150%;
    color: var(--Gray950);

}


/*-------Desktop (>=1440px)---------*/
@media (min-width:1440px){
    .card{
        max-width: 38.4rem;
    }
    .card__status{
         font-size: 1.4rem;
    }
    .card__date{
    font-size: 1.4rem;
   }
   .card__title{
    font-size: 2.4rem;
   }
   .card__text{
    font-size: 1.6rem;
   }
}